# Saved factor graph files
*.pdf
*.dot

# Editor files
.vscode/

# Python
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/

# Build artifacts
*build/
*dist/
*.egg-info/
*.so
*.whl
*.cache/

# Video generation stuff
*.mp4
*.png
*.webm
*.mov

# clangd
*compile_commands.json

setup_log.txt